<div class="col-md-6 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
				<h1>New Review</h1>        
      </div>
      <div class="panel-body">
				<%= render 'form' %>      	
      </div>
      <div class="panel-footer">
				<%= link_to 'Back', movie_path(@movie), class: "btn btn-default" %>      	
      </div>
    </div>
  </div>
</div>



